/*overide or add to some bootstrap basics*/
body {
  background-color:#d8ccb3;`
}
.top-buffer {
  margin-top:10px;
  margin-right:0px;
}
`
/* Scripto specific */
.error{
    color:red;
    margin-bottom:20px;
}
.succes{
    font-style: bold;
    margin-bottom:20px;
}

#scripto-transcription-page-html {
  background-color:#FFFF99;
}
